<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
  <title></title>
</head>
<body>
  <nav>

      <p>Detoptrading.com</p>
      <p>Julio Martínez</p>

  </nav>
<header>
  <div>
    <p>¡Hola, Bienvenido!</p>
    <button>Importar</button>
  </div>
</header>
<main>

  <section class="main_contain-short-info" >
    <div class="main_short-dates short-info_total">
      <img src="../assets/images/incon-muestra.png" alt="">
      <p>Total de operaciones</p>
      <p>18</p>
    </div>
    <div class="main_short-dates short-info_ganancia">
      <img src="../assets/images/incon-muestra.png" alt="">
      <p>Ganancia acumulada</p>
      <p>$1,250</p>
    </div>
    <div class="main_short-dates short-info_total-operations">
      <img src="../assets/images/incon-muestra.png" alt="">
      <p>Drawdown</p>
      <p>10%</p>
    </div>
    <div class="main_short-dates short-info-effect">
      <img src="../assets/images/incon-muestra.png" alt="">
      <p>Efectividad</p>
      <p>78%</p>
    </div>
</section>
<section class="main_table">
  <table>
    <

    <thead>
      <tr>
        <th>Dates</th>
        <th>Instrument</th>
        <th>Tipo</th>
        <th>Result</th>
        <th>G. acum</th>
        <th>Saldo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>07/03/2022</td>
        <td>NQ</td>
        <td>$150.00</td>
        <td>$150.00</td>
        <td>$1,150.00</td>
        <td><progress max="100" value="70"></progress> </td>
      </tr>
      <tr>
        <td>07/03/2022</td>
        <td>NQ</td>
        <td>$150.00</td>
        <td>$150.00</td>
        <td>$1,150.00</td>
        <td><progress max="100" value="70"></progress> </td>
      </tr>
      <tr>
        <td>07/03/2022</td>
        <td>NQ</td>
        <td>$150.00</td>
        <td>$150.00</td>
        <td>$1,150.00</td>
        <td><progress max="100" value="70"></progress> </td>
      </tr>
      <tr>
        <td>07/03/2022</td>
        <td>NQ</td>
        <td>$150.00</td>
        <td>$150.00</td>
        <td>$1,150.00</td>
        <td><progress max="100" value="70"></progress> </td>
      </tr>
      <tr>
        <td>07/03/2022</td>
        <td>NQ</td>
        <td>$150.00</td>
        <td>$150.00</td>
        <td>$1,150.00</td>
        <td><progress max="100" value="70"></progress> </td>
      </tr>
      <tr>
        <td>07/03/2022</td>
        <td>NQ</td>
        <td>$150.00</td>
        <td>$150.00</td>
        <td>$1,150.00</td>
        <td><progress max="100" value="70"></progress> </td>
      </tr>
      <tr>
        <td>07/03/2022</td>
        <td>NQ</td>
        <td>$150.00</td>
        <td>$150.00</td>
        <td>$1,150.00</td>
        <td><progress max="100" value="70"></progress> </td>
      </tr>
      <tr>
        <td>07/03/2022</td>
        <td>NQ</td>
        <td>$150.00</td>
        <td>$150.00</td>
        <td>$1,150.00</td>
        <td><progress max="100" value="70"></progress> </td>
      </tr>
      <tr>
        <td>07/03/2022</td>
        <td>NQ</td>
        <td>$150.00</td>
        <td>$150.00</td>
        <td>$1,150.00</td>
        <td><progress max="100" value="70"></progress> </td>
      </tr>
      <tr>
        <td>07/03/2022</td>
        <td>NQ</td>
        <td>$150.00</td>
        <td>$150.00</td>
        <td>$1,150.00</td>
        <td><progress max="100" value="70"></progress> </td>
      </tr>
      <tr>
        <td>07/03/2022</td>
        <td>NQ</td>
        <td>$150.00</td>
        <td>$150.00</td>
        <td>$1,150.00</td>
        <td><progress max="100" value="70"></progress> </td>
      </tr>
      <tr>
        <td>07/03/2022</td>
        <td>NQ</td>
        <td>$150.00</td>
        <td>$150.00</td>
        <td>$1,150.00</td>
        <td><progress max="100" value="70"></progress> </td>
      </tr>
      <tr>
        <td>07/03/2022</td>
        <td>NQ</td>
        <td>$150.00</td>
        <td>$150.00</td>
        <td>$1,150.00</td>
        <td><progress max="100" value="70"></progress> </td>
      </tr>

    </tbody>
  </table>
</section>
<section class="main_new-trade">
  <label for="main_new-trade_date">Date</label>
  <input id="main_new-trade_date" type="date">

  <label for="main_new-trade_intrument">Instrument</label>
  <input id="main_new-trade_intrument" type="text">
  <div class="main_newtrade-type">

    <p>Tipo</p>
    <label for="main_new-trade_input-stop-radio">Profit</label>
    <input id="main_new-trade_input-stop-radio" type="radio">

    <label for="main_new-trade_input-profit-radio">Stop</label>
    <input id="main_new-trade_input-profit-radio" type="radio">
  </div>

  <label for="main_new-trade_input-result">Resultado</label>
  <input id="main_new-trade_input-result" type="number">



</section>




</main>
</body>
</html>
